<div>
	<h2 style="text-align:center;">Authentication</h2>

	<form action="#" ng-submit="login(user, password)">
<!--		<input type="text" ng-model="error">-->
		<input type="text" placeholder="Your username here" ng-model="user" autofocus>
		<input type="password" ng-model="password">
		<input type="submit" value="Connection">
	</form>

	<form action="#" ng-submit="logout()">
		<input type="submit" value="logout">
	</form>

	<form action="#" ng-submit="delete()">
		<input type="submit" value="delete">
	</form>	
</div>