defaults: &defaults
  adapter: sqlite

development:
  adapter: postgres
  database: prod
  username: postgres
  password: klWEbbVX49$Z
  host: localhost
test:
  database: db/._test.db
  <<: *defaults
production:
  adapter: postgres
  database: prod
  username: postgres
  password: klWEbbVX49$Z
  host: localhost
