defaults: &defaults
  adapter: sqlite

development:
  adapter: postgres
  database: webapp
  username: webapp
  password: 535"&/oLJ?~t6ra
  host: localhost
test:
  database: db/._test.db
  <<: *defaults
production:
  adapter: postgres
  database: webapp
  username: webapp
  password: 535"&/oLJ?~t6ra
  host: localhost
